* {
    border: black solid 1px;
}

body,html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

body{
    background-color:rgb(49,71,110);
}

.navbar {
    display: inline-block;
    width: 19%;
}
.navbar ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

.navbar li {
    margin: 10%;

}

.navbar a {
    color: white;
}

#main{
    text-align:center;
    color:white;
    margin-bottom:2px;
}
#intro{
    text-align: center;
    color:rgb(147,161,186);
    margin-bottom:2px;
}
#second{
    text-align:center;
    margin-bottom:0px;
    color:white;
}
#third{
    text-align:center;
    margin-bottom:2px;
    color:white;
}
.body_align{
    float: right;
    width:80%;
}
.box1{
    background-color:rgb(49,71,110);
    color:rgb(147,161,186);
    width:200px;
    border:3px solid black;
    padding:50px;
    display:block;
    float:left;
    margin-top:100px;
    margin-left:200px;
    text-align:center;
    padding-top:10px;
}
.box2{
    background-color:rgb(49,71,110);
    color:rgb(147,161,186);
    width:200px;
    border:3px solid black;
    padding:50px;
    display:block;
    float:right;
    margin-top: 100px;
    margin-right:200px;
    text-align:center;
    padding-top:10px;
}
.list_info{
    color:rgb(147,161,186)
}
.line{
    border:1px solid black;
}
#mainline{
    border:1px solid black;
}

#particles-js {
    height: 500px;
    width: 500px;
    border: solid black 1px;
    background: firebrick;
}
