html#darkmode {
    background-color: #BA55D3;
}

#sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #8A2BE2;
  overflow-x: hidden;
  padding-top: 20px;
  opacity: 85%;
}

#sidenav a {
  padding: 6px 8px 6px 30px;
  text-decoration: none;
  font-size: 25px;
  color: wheat;
  display: block;
}
#sidenav a.active {
    background-color: wheat;
    color: black;
}
#mainsitestuff {
  margin-left: 200px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

#sidenav a:hover {
    background-color: wheat;
    transition-duration: 0.5s;
    color: black;
}
#main-header h3 {
    text-align: center;
    color: wheat;
    font-size: 30px;
}
#main-header h3:hover {
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
  #sidenav {
    width: 100%;
    position: relative;
    height: auto;
  }
}